using Microsoft.AspNetCore.Mvc;

namespace SistemaVenta.AplicacionWeb
{
    public class _ : Controller
    {
        public IActionResult Index()
        {
            return View();
        }
    }
}
